<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="camera_mount" params="prefix tilt:=0">

    <link name="${prefix}_camera_mount">
      <visual>
        <origin xyz="0 0 0" rpy="1.5707 0 1.5707" />
        <geometry>
          <mesh filename="file://$(find jackal_description)/meshes/camera-bracket.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="dark_grey" />
      </visual>
    </link>

    <link name="${prefix}_camera_beam">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 1.5707" />
        <geometry>
          <mesh filename="file://$(find jackal_description)/meshes/camera-beam.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="dark_grey" />
      </visual>
    </link>
    
    <!-- camera -->
      <gazebo reference="${prefix}_camera_beam">
        <sensor type="camera" name="${prefix}_camera_beam">
          <update_rate> 30.0 </update_rate>
          <always_on> 1 </always_on>
          <topic> image </topic>
          <camera name="tool">
            <horizontal_fov> 1.0 </horizontal_fov>
            <image>
              <width> 800 </width>
              <height> 800 </height>
              <format>R8G8B8</format>
            </image>
            <clip>
              <near> 0.02 </near>
              <far> 300 </far>
            </clip>
            <noise>
              <mean> 0.0 </mean>
              <stddev> 0.01 </stddev>
            </noise>
          </camera>
          <plugin filename="ignition-gazebo-sensors-system"
            name="ignition::gazebo::systems::Sensors">
          </plugin>
        </sensor>
      </gazebo> 

    <joint name="${prefix}_camera_pivot_joint" type="fixed">
      <origin xyz="0.102 0 0.008" rpy="0 ${tilt} 0" />
      <parent link="${prefix}_camera_mount" />
      <child link="${prefix}_camera_beam" />
    </joint>

    <gazebo reference="${prefix}_camera_beam">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="${prefix}_camera_mount">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

  </xacro:macro>

</robot>
